.card {
    padding: 2rem;
    box-shadow: 9px 10px 17px -1px rgba(0,0,0,0.42);
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* width: 50%;
    height: 50%; */
    /* border: 1px solid;
    border-radius: 50%; */
}
mark{
    font-size: small;
}
p{
    line-height: normal;
    margin: 0;
    padding-bottom: 8px;
}